/**************** ztree css ********************************/

/* 选中特效 */
.ztree li a.curSelectedNode {
    padding-top: 0px;
    background-color: white;
    height: 16px;
    border: 0;
    opacity: 1;
	color: skyblue;
	text-decoration:underline;
}
.ztree li a.leaf {
	font-size: 18px;
	color: #155799;
}
.ztree li a.curSelectedNode.leaf {
	color: skyblue;
}

.ztree li span.button.switch {
	display: none;
}
.ztree {
	padding-top: 20px;
}

/**** hover begin ****/
.ztree li a:hover {
    text-decoration: underline;
    /* text-decoration-line: none; */
    text-decoration-style: initial;
    text-decoration-color: initial;
}
/**** hover end ****/
.ztree li a.node {
	margin: 4px;
}

.ztree li a.level0 {
	font-weight: 700;
	margin: 4px 0px 6px 4px;
	color: #159957;
}

.ztree li.level0 {
	margin: 2px;
}

/**************** ztree css ********************************/

/************************ main style ****************************/
div.searchbox {
	margin-top: 10px;
	margin-bottom: 5px;
}

@media (min-width: 992px) {
	section.page-header h1 {
		font-size: 52px;
	}
	div.container-fluid {
		padding-right: 15px;
		padding-left: 45px;
		margin-right: auto;
		margin-left: auto;
	}
}

section.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
}

section.page-header h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}

html, body {
	height: 100%;
}
div.tree-div {
	overflow-y: auto;
}

#tree_div {
border-right: 1px solid #ebf2f2
}


/**** iframe ****/
/* #blog-content {
	border-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
} */
